@model Interview.Models.Container.ClientData
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.EditMode</h2>
<div>
    @using (Html.BeginForm("Edit", "form1", FormMethod.Post, new { @class = "ui form segment" }))
    {
        <div class="field">
            <label>
                姓名
            </label>
            @Html.TextBoxFor(x => x.ClientName, new Dictionary<string, Object> { { "maxlength", "20" } })
        </div>
        <div class="field">
            <label>性別</label>
            <div class="ui form">
                <div class="inline fields">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(x => x.Sex, "0", new { @checked = true }) 女性
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(x => x.Sex, "1") 男性
                    </label>
                </div>
            </div>
        </div>
        <div class="field">
            <label>
                縣市
            </label>
            @Html.DropDownListFor(x => x.City, new SelectList(ViewBag.Citys, "KeyID", "KeyName", Model != null ? Model.City : 0))
        </div>
        <div class="field">
            <label>
                地址
            </label>
            @Html.TextBoxFor(x => x.Address, new Dictionary<string, Object> { { "maxlength", "100" } })
        </div>
        <div class="field">
            <label>
                手機
            </label>
            @Html.TextBoxFor(x => x.Mobile, new Dictionary<string, Object> { { "maxlength", "10" } })
        </div>
        <div class="field">
            <label>
                預算(萬元)
            </label>
            @Html.TextBoxFor(x => x.Budget, new Dictionary<string, Object> { { "maxlength", "6" } })
        </div>
        <input type="hidden" name="editType" value="@ViewBag.EditMode" />

        <button type="submit" class="btn green">存檔</button>
        <button type="button" class="btn default" onclick="location.href='@Url.Action("index")'">取消</button>
        <div class="ui error message"></div>
    }
</div>
@section Scripts{
    <script>
        $(document)
          .ready(function () {
              $('.ui.form')
                .form({
                    fields: {
                        ClientName: {
                            identifier: 'ClientName',
                            rules: [
                              {
                                  type: 'empty',
                                  prompt: '請輸入客戶名稱'
                              }
                            ]
                        },
                        Address: {
                            identifier: 'Address',
                            rules: [
                              {
                                  type: 'empty',
                                  prompt: '請輸入地址'
                              }
                            ]
                        },
                        Mobile: {
                            identifier: 'Mobile',
                            rules: [
                              {
                                  type: 'regExp[/^[09]{2}[0-9]{8}$/]',
                                  prompt: '請輸入手機，格式：09xxxxxxxx'
                              }
                            ]
                        },
                        Budget: {
                            identifier: 'Budget',
                            rules: [
                              {
                                  type: 'integer[0..9999999]',
                                  prompt: '價錢請填大於0的數字'
                              }
                            ]
                        }
                    }
                })
              ;
          })
        ;
    </script>
}