@model List<InterViewModel.ViewModel.ClientDataViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div>
    <a class="btn btn-default" href="@Url.Action("Edit")"><i style="color:green;font-size:large">新增</i></a>
</div>
@{
    <table class="table">
        <thead>
            <tr>
                <th>客戶姓名</th>
                <th>客戶性別</th>
                <th>地址</th>
                <th>手機</th>
                <th>預算</th>
                <th width="300">功能</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.ClientName</th>
                    <th>@item.SexType</th>
                    <th>@item.FullAddress</th>
                    <th>@item.Mobile</th>
                    <th>@item.BudgetDollar</th>
                    <th>@Html.ActionLink("編輯", "Edit", new { id = item.Id }) @Html.ActionLink("刪除", "Delete", new { id = item.Id, status = 0 })</th>
                </tr>
            }
        </tbody>
    </table>
}


